@import url(languageToggle.css);

/* ------Variables (Dark/Light)------ */
:root:not(.light) {
  --background-color: #1b2a4a;
  --primary-color: #1a429c;
  --font-color: #ededee;
  --secondary-color: #1a429c;
  --language-color: #ededee;
}

:root.light {
  --background-color: #ededee;
  --primary-color: #5195ea;
  --font-color: #1b2a4a;
  --secondary-color: #5195ea;
  --language-color: #1b2a4a;
}

/* ------Main Styles------ */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans";
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: sans-serif;
}

header {
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 999;
}

#headerDiv {
  margin: 0 2em 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

#txt-title {
  display: inline-block;
  font-style: oblique;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
  text-transform: capitalize;
}

footer {
  padding: 1em 0;
  margin: 0 2em;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
}

.heroArea {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1em;
}

.heroArea a {
  color: #1b2a4a;
  text-transform: capitalize;
}

.downArrow {
  background: transparent;
  border: none !important;
  cursor: pointer;
}

.downArrow a {
  color: var(--font-color);
}

.about {
  padding: 1em;
  margin: 2rem;
  text-transform: none;
}

#btnReachOut {
  border: 1px solid var(--secondary-color);
  border-radius: 100px;
  padding: 5px 10px;
}

#btnReachOut:hover {
  border: 1px solid var(--font-color);
}

#btnReachOut:active {
  border: 1px solid var(--font-color);
  background-color: #9c9da2;
}

.stack,
.portfolio,
#reachOutDiv {
  padding: 1em;
  margin: 2em 1em 0 1em;
}

.reachOut {
  background-color: var(--primary-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

input,
label,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}

input,
textarea {
  background-color: var(--background-color);
  border-radius: 20px;
  border: 1 solid var(--background-color);
  min-height: 2rem;
  color: var(--font-color);
  padding: 10px;
}

input[type="submit"] {
  width: 50%;
  border: 1 px var(--background-color);
  background-color: var(--background-color);
  color: var(--font-color);
  border-radius: 50px;
  padding: 0 1rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  border: 1px solid var(--font-color);
}

input[type="submit"]:active {
  border: 1px solid var(--font-color);
  background-color: #9c9da2;
}

.containerCards {
  display: grid;
  grid-gap: 1em;
}

.card {
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 1rem;
  min-height: 150px;
}

.containerStack {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
}

.stackItem {
  display: flex;
  background-color: var(--background-color);
  height: 2em;
  padding: 5px;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.stackItem i {
  position: absolute;
  transition: all 1s;
}

.stackName {
  visibility: hidden;
  opacity: 0;
  transition: all;
}

.stackItem:hover .stackName {
  transition: 0.4s;
  visibility: visible;
  margin-left: 10px;
  opacity: 1;
}

.stackItem:hover i {
  transition: 1s;
  position: relative;
}

.githubInfo {
  margin-bottom: 1em;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.sectionHeading {
  text-align: center;
  text-transform: capitalize;
}

.btn-header {
  background: transparent;
  border: none !important;
  color: var(--font-color);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .containerCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .about, #reachOutDiv {
    width: 50%;
    margin: auto;
  }
}
