/* ------Initial Settings------ */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 2em;
}

.header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1em;
}

.stack,
.portfolio,
.reachOut {
  background-color: var(--background-color);
  padding: 1em;
  margin: 2em;
}

a {
  color: var(--font-color);
}

#txt-title {
  font-style: oblique;
  margin-bottom: auto;
  background-color: var(--primary-color);
}

input,
label,
textarea {
  display: block;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

input[type="submit"] {
  width: auto;
}

.containerCards {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.containerStack {
  display: grid;
  grid-gap: 50%;
}

.card {
  background-color: var(--primary-color);
  text-align: center;
}

.githubInfo {
  margin-bottom: 1em;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sectionHeading {
  text-align: center;
}

.btn-header {
  background: transparent;
  border: none !important;
  color: var(--font-color);
}

/* ------Progress Bar------ */
.progress {
  display: inline-block;
  width: 95%;
  float: right;
  height: 1em;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--primary-color);
}

.progress:before {
  position: absolute;
  content: "";
  height: 100%;
  transform: skew(-30deg);
  width: 90%;
  left: -10%;
  background: var(--primary-color);
}

/* ------Dark/Light Toggle------ */
/* https://traveling-coderman.net/code/light-mode/ */
:root:not(.light) {
  --background-color: #121212;
  --primary-color: cornflowerblue;
  --font-color: #fafafa;
}

:root.light {
  --background-color: #fafafa;
  --primary-color: cornflowerblue;
  --font-color: #121212;
}

/* ------Typing Effect------ */
/* https://codepen.io/denic/pen/GRoOxbM */

.typing-wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 19ch;
  animation: typing 1s steps(19), blink 0.5s step-end alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
