/* ------Initial Settings------ */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 2em;
}

.header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1em;
  margin: 2em;
}

.stack,
.portfolio,
.reachOut {
  background-color: var(--background-color);
  padding: 1em;
  margin: 2em;
}

a {
  color: var(--font-color);
}

#txt-title {
  font-style: oblique;
  margin-bottom: auto;
}

input,
label {
  display: block;
}

/* ------Progress Bar------ */
.progress {
  height: 1em;
  position: relative;
  overflow: hidden;
}

.progress:before,
.progress:after {
  position: absolute;
  content: "";
  height: 100%;
  transform: skew(-30deg);
}

.progress:before {
  width: 80%;
  left: -10%;
  background: var(--primary-color);
}

.progress:after {
  width: 40%;
  right: -10%;
  background: var(--background-color);
}

/* ------Dark/Light Toggle------ */
/* https://traveling-coderman.net/code/light-mode/ */
:root:not(.light) {
  --background-color: #121212;
  --primary-color: cornflowerblue;
  --font-color: #fafafa;
}

:root.light {
  --background-color: #fafafa;
  --primary-color: cornflowerblue;
  --font-color: #121212;
}

/* ------Typing Effect------ */
/* https://codepen.io/denic/pen/GRoOxbM */

.typing-wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 19ch;
  animation: typing 1s steps(19), blink 0.5s step-end alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
